* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

h1,
select,
h2 {
    margin-bottom: 10px;
}

.chosenPokemon {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.chosenPokemon div {
    display: flex;
}

.none {
    display: none;
}

p {
    margin-right: 30px;
}