* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
}